<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Neues Auto erzeugen</title>
</head>
<body>
    <div align="center">
        <h1>Neues Auto erzeugen</h1>
        <br />
        <form action="#" th:action="@{/save}" th:object="${auto}"
            method="post">
 
            <table border="0" cellpadding="10">
                <tr>
                    <td>Auto Model:</td>
                    <td><input type="text" th:field="*{model}" /></td>
                </tr>
                <tr>
                    <td>Marke:</td>
                    <td><input type="text" th:field="*{marke}" /></td>
                </tr>
                <tr>
                    <td>Herstellungsland:</td>
                    <td><input type="text" th:field="*{herstellungsland}" /></td>
                </tr>
                <tr>
                    <td>Preis:</td>
                    <td><input type="text" th:field="*{preis}" /></td>
                </tr>                            
                <tr>
                    <td colspan="2"><button type="submit">Speichern</button> </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>